<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="shortcut icon"
      href="https://avatars.githubusercontent.com/u/58594917?v=4"
      type="image/x-icon"
    />
    <title>Bisimwa OS</title>
  </head>

  <body>