<ul class="list-group my-3">
    <li class="list-group-item list-group-item-action">
        <a href="/student">Student Events</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a href="/">MarkSheet</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a href="/">Attendance</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a href="/">Register</a>
    </li>
</ul>