*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* grid-template-columns: 1fr 3fr; */
}

aside{
    width: 250px;
    height: 100%;
    background-color: #eec;
}
main{
    position: relative;
    width: 
}
