*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* grid-template-columns: 1fr 3fr; */
}


aside{
    position: relative;
    clear:both;
    width: 20%;
    height: 100%;
    background-color: #eec;
}
main{
    
    /* position: absolute; */
    right: 0;
    top: 0;
    float: right;
    clear: both;
    background-color: #456;
}
.button{
    border: none;
    padding: 10px 5px;
    border-radius: 4px;
    outline: none;
    color: #111;
    cursor: pointer;
}
.coral{
    background-color: coral;
}
.red{
    background-color: rgb(255, 122, 122);
}
.content{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: #456;
    width: 100%;
    height: 100%;
}
.modal{
    border-radius: 4px;
    background-color: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 10px;
}
.modalHeader{
    border-bottom: 1px solid #eec;
}
.modalBody{
    font-family: calibri !important;
    padding: 10px 0;
}
.modalFooter{
    border-top: 1px solid #eec;
    padding: 8px 0;
}
