<%- include ('./includes/header') %>
    <div class="container-fluid p-0">
        <div class="container">
            <div class="mt-2 alert alert-success">
                <h2 class="text-center">Crud using nodejs and express with mongodb</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-body">
                        <form action="/add" method="post">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" value="" placeholder="Username"
                                        class="form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="fullname">fullname</label>
                                    <input type="text" name="fullname" id="fullname" value="" placeholder="fullname"
                                        class="form-control">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" value="" placeholder="email"
                                        class="form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="pass">Password</label>
                                    <input type="password" name="password" id="pass" value="" placeholder="Password"
                                        class="form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="pass2">Confirm Password</label>
                                    <input type="password" name="password2" id="pass2" value="" placeholder="Password"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="alert alert-danger">
                        <form action="" method="get" class="inline-group">
                            <input type="search" onkeyup="Search()" name="search" spellcheck="false" id="search"
                                placeholder="Search..." class="my-2 form-control">
                        </form>
                    </div>
                    <div class="card card-body">
                        <table class="table table-sm table-responsive-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ghost</td>
                                    <td>Ghost Racine sniper</td>
                                    <td>gho@gmail.com</td>
                                    <td>.1234</td>
                                    <td>
                                        <div class="btn-group btn-sm-responsive">
                                            <a href="/edit" class="btn btn-sm btn-info">edit</a>
                                            <a href="/delete" class="btn btn-sm btn-danger">delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ghost&é</td>
                                    <td> sniper</td>
                                    <td>ghostart@gmail.com</td>
                                    <td>.1234</td>
                                    <td>
                                        <div class="btn-group btn-sm-responsive">
                                            <a href="/edit" class="btn btn-sm btn-info">edit</a>
                                            <a href="/delete" class="btn btn-sm btn-danger">delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div>
                    <div class="row my-2" id="result"></div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        // Select
        // Search
        // Event like Edit update deleteOne and deleteAll
        function DataSearch() {
            fetch('http://localhost:7000/users/')
                .then(res => res.json().then((data) => {
                    console.log(data)
                }))
                .catch()
        }
        function Search() {
            txt = document.getElementById('search')
            text = txt.value
            if (text != '') {
                DataSearch()
            } else {
                Select()
            }
        }
        Select()
        function Select() {
            let output = ''
            fetch('http://localhost:7000/users')
                .then(res => res.json().then((data) => {
                    if (data.length > 0) {
                        data.forEach((user) => {
                            output += `
                        <div class="col-md-4 my-1">
                            <div class="card">
                                <div class="card-header">
                                    ${user.username}
                                </div>
                                <div class="card-body">
                                    <p><b>Email: </b> ${user.email}</p>
                                    <a href="edit/?${user._id}" class="btn btn-sm btn-warning">Ready more</a>
                                </div>
                                </div>
                            </div>
                            `
                        })
                    } else {
                        output = "<p class='alert alert-danger'>There is no data registered</p>"
                    }
                    document.getElementById('result').innerHTML = output
                }))
                .catch(err => console.log(err))
        }
    </script>

    </html>