<%- include ('./includes/header') %>
    <div class="container-fluid p-0">
        <div class="container">
            <div class="mt-2 alert alert-success">
                <h2 class="text-center">
                    <%= title %>
                </h2>
            </div>
            <h2 class="display-1">Student</h2>
        </div>
    </div>
    </body>


    </html>