<%- include ("./includes/header")%>

<div class="container">
  <div class="row py-5">
    <div class="col-md-4 sidebar">
      <div class="list-group">
        <a href="/" class="list-group-item d-flex align-items-center"
          >Dashboard</a
        >
        <a href="/register" class="list-group-item d-flex align-items-center"
          >Registration</a
        >
        <a href="/aboutus" class="list-group-item d-flex align-items-center"
          >About Us</a
        >
      </div>
    </div>
    <div class="col-md-8 sidebar">
      <div id="results"></div>
    </div>
  </div>
</div>

<script>
  const results = document.getElementById("results");
  fetch("http://localhost:7000/students")
    .then((res) =>
      res.json().then((data) => {
        data.forEach((student) => {
          results.innerHTML += `<div class="card card-body my-1 shadow-sm">
                  <a href="students/${student._id}" class="d-flex justify-content-between align-items-center">
                    <div>
                      <span>${student.username}</span> |
                      <span>${student.fullname}</span>
                    </div>
                    <div>
                      <a href="students/${student._id}" class="btn btn-sm btn-info">views more</a>
                    </div>
                  </a>
            </div>`;
        });
      })
    )
    .catch((err) => console.log(err));
</script>
