<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <title>Try</title>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="container">
            <div class="alert alert-success">
                <h2 class="text-center">Crud using nodejs and express with mongodb</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" value="" placeholder="Username"
                                    class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="fullname">fullname</label>
                                <input type="text" name="fullname" id="fullname" value="" placeholder="fullname"
                                    class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="" placeholder="email"
                                    class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="pass">Password</label>
                                <input type="password" name="password" id="pass" value="" placeholder="Password"
                                    class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="pass2">Confirm Password</label>
                                <input type="password" name="password2" id="pass2" value="" placeholder="Password"
                                    class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</body>

</html>